$cream: #fff;
$dark: rgb(8, 8, 8);
$primarycolor: rgb(54, 53, 53);
$secondarycolor: rgb(100, 100, 100);

@mixin flexData($data1, $data2, $data3) {
  display: flex;
  align-items: $data1;
  justify-content: $data2;
  flex-direction: $data3;
}

@mixin background($pic, $size) {
  background-image: url($pic);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: $cream;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
}

body {
  width: 100vw;
  background: $cream;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  background-color: $cream;
  position: fixed;
  left: 0;
  top: 0;
}

.top {
  width: 100%;
  height: 70px;
  background-color: $cream;
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid transparent;
  border-bottom-color: $cream;
  @include flexData(center, space-between, row);
}

.bottom {
  width: 100%;
  height: 50px;
  background-color: $cream;
  position: fixed;
  left: 250px;
  top: 60px;
  border: 1px solid transparent;
  border-bottom-color: $cream;
  @include flexData(center, left, row);
  z-index: 1;
  overflow-x: scroll;
}

.all {
  color: $cream;
  background-color: black;
}

.topics {
  background-color: rgb(226, 223, 223);
  padding: 0px 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}

.logo {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.ham {
  width: 30px;
  height: 30px;
  @include background("/pics/hamburger-menu-5.png", cover);
  transition: all 0.2s ease;

  &:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
  }
}

.lg {
  width: 100px;
  height: 30px;
  @include flexData(center, center, row);
}

.picture {
  width: 50px;
  height: 60px;
  @include background("/pics/youtube logo.png", cover);
}

.pic-des {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.search {
  display: flex;
}

.search-box {
  width: 370px;
  height: 37px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  outline: none;
  padding-left: 10px;
  border: 1px solid;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.search-btn {
  width: 50px;
  height: 37px;
  background-color: rgb(245, 245, 245);
  @include background("/pics/find.svg", contain);
  border: 1px solid;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.mic {
  width: 30px;
  height: 30px;
  @include background("/pics/mic icon.png", contain);
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

.creat-v {
  width: 30px;
  height: 30px;
  @include background("/pics/create video icon.png", contain);
}

.noti {
  width: 20px;
  height: 30px;
  @include background("/pics/notification icon.png", contain);
}

.pro-pic {
  @include background("/pics/chp1.jpg", cover);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#nav-left {
  display: none;
  flex-direction: column;
  width: 250px;
  position: fixed;
  top: 70px;
  bottom: 0;
  background-color: $cream;
  overflow-y: scroll;
  z-index: 2;
}

.grd {
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 300px;
  border: 1px solid transparent;
  background-color: $cream;
  border-bottom-color: rgb(231, 231, 231);
}

.hss {
  @include flexData(center, space-evenly, column);
}

.home {
  cursor: pointer;
  width: 90%;
  @include flexData(center, space-between, row);
}

.home-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  @include background("/pics/home icon.webp", contain);
}

.short {
  @extend .home;
}

.short-icon {
  @extend .home-icon;
  @include background("/pics/shotr video.png", cover);
}

.sub {
  @extend .home;
}

.sub-icon {
  @extend .home-icon;
  @include background("/pics/subscription icon.png", cover);
}

.lhywl {
  @extend .hss;
}

.libary {
  @extend .home;
}

.libary-icon {
  @extend.home-icon;
  @include background("/pics/libary icon.png", cover);
}

.history {
  @extend.home;
}

.history-icon {
  @extend .home-icon;
  @include background("/pics/recent vid.png", cover);
}

.your-v {
  @extend .home;
}

.yourv-icon {
  @extend .home-icon;
  @include background("/pics/videosss.png", contain);
}

.watch-later {
  @extend .home;
}
.watch-icon {
  @extend .home-icon;
  @include background("/pics/watch-later-1781603-1513853.png", cover);
}

.like-v {
  @extend .home;
}

.like-icon {
  @extend .home-icon;
  @include background(
    "/pics/20-200341_transparent-like-hand-png-like-png-png-download.png",
    contain
  );
}

.fkss {
  @extend .hss;
}

.fccp {
  @extend .pro-pic;
}

.fcc {
  @extend .home;
}

.kp {
  @extend .home;
}

.kpp {
  @extend .pro-pic;
}

.webds {
  @extend .home;
}

.webdp {
  @extend .pro-pic;
}

.ssd {
  @extend .home;
}

.ssp {
  @extend .pro-pic;
}

.tmgs {
  @extend .hss;
}

.trending {
  @extend .home;
}

.trend-icon {
  @extend .home-icon;
  @include background("/pics/trnding icon.png", cover);
}

.music {
  @extend .home;
}

.music-icon {
  @extend .home-icon;
  @include background("/pics/music icon.png", cover);
}

.games {
  @extend .home;
}

.games-icon {
  @extend .home-icon;
  @include background("/pics/gamming icon.png", cover);
}

.sport {
  @extend .home;
}

.sport-icon {
  @extend .home-icon;
  @include background("/pics/sport icon.png", cover);
}

.srhs {
  @extend .hss;
}

.settings {
  @extend .home;
}

.setting-icon {
  @extend .home-icon;
  @include background("/pics/setting icon.png", cover);
}

.report-h {
  @extend .home;
}

.report-icon {
  @extend .home-icon;
  @include background("/pics/flag icon.png", cover);
}

.help {
  @extend .home;
}

.help-icon {
  @extend .home-icon;
  @include background("/pics/help.png", cover);
}

.send-feed {
  @extend .home;
}

.sendf-icon {
  @extend .home-icon;
  @include background("/pics/feedback icon.png", cover);
}

.nav1 {
  display: flex;
  flex-direction: column;
  width: 60px;
  position: fixed;
  top: 69px;
  bottom: 0;
  background-color: $cream;
}

.hme-icon {
  width: 30px;
  height: 30px;
  @include background("/pics/home icon.webp", contain);
}

.shrts-icon {
  @extend .hme-icon;
  @include background("/pics/shotr video.png", cover);
}

.subscrip-icon {
  @extend .hme-icon;
  @include background("/pics/subscription icon.png", cover);
}

.lbry-icon {
  @extend .hme-icon;
  @include background("/pics/libary icon.png", cover);
}

.grid-frame {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  place-content: center;
  place-self: left;
  margin-top: 7rem;
  grid-row-gap: 3rem;
  grid-column-gap: 1rem;
}

.frame {
  width: 290px;
  @include flexData(center, center, column);
}

.video-div-1 {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 152px;
  border-radius: 8px;
  @include background("/pics/vp1.webp", cover);
}

.time1 {
  width: 50px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.863);
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 7px;
  @include flexData(center, center, row);
  color: $cream;
}

.video-des-1 {
  width: 100%;
  height: 110px;
}

.tlchp-1 {
  width: 253.48px;
  display: grid;
  grid-template-columns: 55px 1fr;
}

.tl-1 {
  width: 230px;
  @include flexData(center, center, row);
}

.chp-1 {
  @include background("/pics/chp1.jpg", cover);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.videoAuthr-1 {
  color: $secondarycolor;
  font-size: 13px;
}

@media (max-width: 1247px) {
  .grid-frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    place-content: center;
  }
}

@media (max-width: 960px) {
  .grid-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-content: center;
  }

  .nav1 {
    display: none;
  }

  .nav-top {
    @include flexData(center, space-around, row);
  }

  .search-box {
    max-width: 270px;
    height: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    outline: none;
    padding-left: 10px;
    border: 1px solid;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
  }
}

@media (max-width: 652px) {
  .top {
    @include flexData(center, space-around, row);
  }

  .grid-frame {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    margin-left: 25px;
  }

  .frame {
    width: 80%;
    height: 300px;
    @include flexData(center, center, column);
  }

  .video-div-1 {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    @include background("/pics/vp1.webp", cover);
  }

  .video-des-1 {
    width: 90%;
    height: 150px;
  }

  .tlchp-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 55px 1fr;
  }

  .tl-1 {
    width: 340px;
    @include flexData(center, center, row);
  }

  .nav1 {
    display: none;
  }

  .search-box {
    display: none;
  }

  .search-btn {
    width: 50px;
    height: 37px;
    background-color: $cream;
    border: 1px solid transparent;
  }

  .profile {
    margin-right: 8px;
  }

  .bottom {
    display: none;
  }
}
